@inject IServicioSesion ServicioSesion


@code {
    private bool navCollapsed = true;

    private void ToggleNav()
    {
        navCollapsed = !navCollapsed;
    }
}

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AlquilandoWeb</a>
        <button class="navbar-toggler" @onclick="ToggleNav">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="nav-item px-3"></div>
        <NavLink class="nav-link" href="alojamientos">
            <span class="bi bi-house-fill-nav-menu" aria-hidden="true"></span> Alojamientos
        </NavLink>
    </div>

    @if (ServicioSesion.Rol == RolUsuario.Administrador)
    {
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/alojamientos">
                <span class="oi oi-pencil" aria-hidden="true"></span> Editar publicaciones
            </NavLink>
        </li>
    }
    <div class="nav-item px-3"></div
        <NavLink class="nav-link" href="/misreservas">
            <span class="bi bi-calendar-check-fill-nav-menu" aria-hidden="true"></span> Mis reservas
        </NavLink>

<!--<input type="checkbox" title="Navigation menu" class="navbar-toggler" /> -->
<!--
<div class="nav-scrollable @(navCollapsed ? "collapse" : "show")">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>
-->
